/* home */

.Home
{
    width: 100%;
    height: 660px;
    background-image: url(../images/party.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: white;
    position: relative;
}

.Home h2,p
{
    text-align: center;

    
}

.HomeOverlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 46, 214, 0.6);
}

.home-content {
    margin-top: 200px;

    transition: margin-left .5s;
    padding: 16px;
}

.home-content h2
{
    font-size: 60px;
}


/* nav */

.menu{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.nav
{
    background-color: #600a48;
}

.nav a {
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: white;
}

.nav a:hover{
    color:  rgba(144, 89, 190, 0.4);
}

.nav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Singers */

.singers
{
    margin: 100px auto;
    width: 50%;
    
}

.singers h3
{
    padding: 10px;
    margin: 0;
    background-color: rgba(194, 46, 214, 0.6);
    cursor: pointer;
    color: white;
}


.singers div
{
    padding: 10px;
    background-color:rgba(183, 183, 183, 0.4);
    display: none;
}



.singers .active{
    display:block;
}



/* Counter */

#counter
{
   
    background-image: url(../images/join-us.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
    height: 330px;
    
    
}


.counter-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 46, 214, 0.6);
    color: white;
}

.container
{
    padding: 100px 0px;
}

.time
{
    
    padding: 50px;
    border: 1px solid #FFF;
    font-weight: 500;
    font-size: 30px;
}


/* contact us */

#contact{
    margin-top:100px;
}

#contact .head h2{
    text-transform: uppercase;
    font-size: 35px;
    color:#444;
    font-weight: bold;
    margin-bottom: 20px;
}
#contact .head p{
    color:#777;
    font-weight: 300;
    font-size: 16px;
}
#contact .info h3{
    color:#444;
    font-size: 18px;
    font-weight: bold;
}
#contact .info p{
    font-size: 16px;
    line-height: 26px;
    color:#777;
}

#contact .icons{
    margin-top:50px;
}
#contact .icons p{
    margin-bottom: 35px;
}
#contact i{
    margin-right: 20px;
    color:#777;
}
#contact .mail{
    color:  rgba(194, 46, 214, 0.6) !important;
    ;
}


#contact .info .social-list{
    margin-top:60px;
    color:#777;
    
}
#contact .info h3{
    font-weight:bolder ;

}


#contact .info .social-list i{
    margin-right: 10px;
    border:1px solid #999;
    width:40px;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
}
#contact .info .social-list i:hover{
    color:#fff;
    background-color: rgba(194, 46, 214, 0.6);
    ;
    border:1px solid  rgba(123, 9, 138, 0.6);
    ;
}
#contact form input,
#contact form textarea{
    margin-bottom: 20px;
    border-radius: 0;
}
#contact form textarea{
    height: 200px;
    resize:vertical;
}

#contact form button{
    background-color: rgba(194, 46, 214, 0.6);
    color:#fff;
    padding:10px 20px;
    border-radius: 0;
    text-transform: uppercase
}

#chars
{
    font-size: 20px;
    color: rgba(194, 46, 214, 0.6);
}





